[Unit]
Description=Telegram Stonks Bot
After=network.service
Requires=network.service

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/telegram-stonks-bot
User=$USER
Group=$GROUP
WorkingDirectory=$WORKING_DIR
ExecStart=python3 $WORKING_DIR/bot.py

[Install]
WantedBy=multi-user.target

# move to move to /etc/systemd/system/*
